@using Mango.Web.Models.Dto;
@model List<UserDto>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Lista de Usuários</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-outline-primary" asp-controller="User" asp-action="UserCreate"><i class="bi bi-plus-square"></i> Criar Novo Usuário</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Nome
					</th>
					<th>
						Email
					</th>
					<th>
						Num. Celular
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var user in Model)
				{
					<tr>
						<td>
							@(user.Name)
						</td>
						<td>
							@(user.Email)
						</td>
						<td>
							@(user.PhoneNumber)
						</td>
						<td>
							<a asp-action="UserUpdate" asp-route-userId="@user.Id" class="btn btn-warning">
								<i class="bi bi-pencil-fill"></i>
							</a>
						</td>
						<td>
							<a asp-action="UserDelete" asp-route-userId="@user.Id" class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>