@model OrderHeaderDto

<form method="post">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1 text-warning h3">
                        Detalhes do Pedido
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right mt-2">
                        <a asp-action="OrderIndex" class="btn btn-warning form-control btn-sm py-2"><i class="bi bi-arrow-left"></i> Voltar aos Pedidos</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row my-1">
                                <div class="col-3">Nome</div>
                                <div class="col-9">
                                    <input readonly asp-for="Name" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Celular</div>
                                <div class="col-9">
                                    <input readonly asp-for="Phone" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input readonly asp-for="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Data do Pedido</div>
                                <div class="col-9">
                                    <input readonly asp-for="OrderTime" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">ID da Sessão</div>
                                <div class="col-9">
                                    <input disabled readonly asp-for="StripeSessionId" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">ID de Pagamento</div>
                                <div class="col-9">
                                    <input disabled readonly asp-for="PaymentIntentId" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Status Pagamento</div>
                                <div class="col-9">
                                    <input readonly asp-for="Status" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-warning">Itens do Pedido</span>
                            </h4>
                            <label class="bg-primary text-light text-center form-control my-2 fw-bold">Pedido - @Model.OrderHeaderId</label>
                                <ul class="list-group mb-3">
                                    @foreach (var detail in Model.OrderDetails)
                                    {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-white">@detail.ProductName</h6>
                                                <small class="text-muted">Preço : @string.Format("{0:c}", detail.Price)</small><br />
                                                <small class="text-muted">Quantidade : @detail.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@string.Format("{0:c}", (@detail.Count * @detail.Price) )</p>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                    <li class="list-group-item bg-primary">
                                        <div class="row container">
                                            <div class="col-6">
                                                <h5 class="text-white">TOTAL </h5>
                                            </div>
                                            <div class="col-6 text-end">
                                                <h5 class="text-white">@string.Format("{0:c}", Model.OrderTotal)</h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            @if(Model.Status == "Cancelado")
                            {
                                <button type="submit" disabled class="btn btn-danger form-control my-1">Cancelar Pedido</button>
                            }
                            else if(Model.Status == "Pendente")
                            {
                                <button type="submit" disabled class="btn btn-success form-control my-1">Pronto para Coleta</button>
                                <button type="submit" disabled class="btn btn-danger form-control my-1">Cancelar Pedido</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success form-control my-1">Pronto para Coleta</button>
                                <button type="submit" class="btn btn-danger form-control my-1">Cancelar Pedido</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


